name: Typescript Api Client

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    # Use github runner and not self-hosted as trusted publishing is only supported on github runners
    # https://docs.npmjs.com/trusted-publishers#limitations-and-future-improvementss
    runs-on: ubuntu-latest
    if: contains('
      refs/heads/master
      refs/heads/main'
      , github.ref)
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          check-latest: true
      - name: Install dependencies
        run: npm ci --prefix package
      - name: Build
        run: npm run build --prefix package
      - name: Install release dependencies
        run: |
          npm install --no-save \
            --prefix package \
            @semantic-release/npm \
            @semantic-release/github \
            conventional-changelog-eslint \
      - name: Release
        run: npx semantic-release@25 -e ./config/release.config.js
        working-directory: ./package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
